.Heading_all3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}

.Heading_all3 h5 {
  color: #000000;
  font-size: 28px;
  font-weight: 600;
  line-height: 32.81px;
  margin-bottom: 20px;
}

.Heading_all3 .button_container {
  display: flex;
  gap: 100px;
  align-items: center;
}

.Heading_all3 .button_container button {
  display: flex;
  gap: 10px;
  align-items: center;
}

.Heading_all3 .button_container button img {
  width: 30px;
  height: 30px;
}

.Heading_all3 .button_container button span {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.09px;
}

.Heading_all3 .button_container button.filter span {
  color: #0070bc;
}

.Heading_all3 .button_container button.report {
  border-radius: 10px;
  background: linear-gradient(180deg, #fea82f 0%, #fd575b 100%);
  padding: 10px;
  width: 206px;
  height: 56px;
  justify-content: center;
}

.Heading_all3 .button_container button.report span {
  color: #fff;
}






.finacial-box {
    width: 1004px;
    top: 209px;
    margin-bottom: 50px;
    border-radius: 14px;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
  }

  .finacialheader{
    display: flex;
    justify-content: space-between;
  }


  .finacial-title{
    display: flex;
  }

  .finacial-title img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
    
  .finacial-title h1{
    font-size: 36px;
    font-weight: 700;
    color: #000000;
  }

  .finacial-title span:nth-child(1){
    font-size: 500;
    font-size: 20px;
    color: #000000B2;
  }

  .finacial-title span:nth-child(2){
    font-size: 36px;
    font-weight: 700;
    color: #0070BC;
  }
  


  @media (max-width: 568px) {
    .finacial-box {
      width: 100%;
    }
    .finacial-title h1 {
      font-size: 24px;
    }
  
    .finacial-title span:nth-child(1) {
      font-size: 14px;
    }
  
    .finacial-title span:nth-child(2) {
      font-size: 20px;
    }
  }


  

  @media (max-width: 968px) {
    .finacial-box {
      width: 100%;
    }
    .finacial-title h1 {
      font-size: 24px;
    }
  
    .finacial-title span:nth-child(1) {
      font-size: 14px;
    }
  
    .finacial-title span:nth-child(2) {
      font-size: 20px;
    }
  }